<div class="createBox">

    <h2> Create New Patient </h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ul>
            <li>
                <input type="text" placeholder="Name" formControlName="name" [ngClass]="{ 'error' : profileForm.controls['name'].invalid && profileForm.controls['name'].touched }" />




            </li>

            <li>
                <input type="tel" placeholder="Phone Number" formControlName="phone" />
            </li>

            <li>
                <input type="email" placeholder="Email Address" formControlName="email" />
            </li>

            <li>

                <ul>
                    <li>
                        <input type="number" placeholder="Age" formControlName="age" />
                    </li>

                    <li>
                        <input type="number" placeholder="Weight" formControlName="weight" />
                    </li>

                    <li>
                        <input type="number" placeholder="Height" formControlName="height" />
                    </li>

                </ul>

            </li>

            <li> <textarea formControlName="complaints"> Complaints </textarea></li>

            <li> <button type="submit" [disabled]="!profileForm.valid"> Continue   </button> </li>


        </ul>
    </form>

</div>