/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'DM Sans', sans-serif !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0px;
}