@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Bold.woff2') format('woff2'),
        url('Gordita-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Regular.woff2') format('woff2'),
        url('Gordita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
