<div class="leftbox">
    <article class="profile">
        <div class="img">
            <img src="../../assets/logo.png">
        </div>
        <aside>
            <span> {{userInfo.username}}</span>
            <a href="javascript:;" (click)="logout()">Logout</a>
        </aside>
    </article>
    <article class="searchBox">

        <input type="text" (input)="onSearchChange($event.target)" />

    </article>

    <div class="userlist">

        <ul>


            <li *ngFor="let patient of allPatinet"  (click)="detailPage(patient._id)" [ngClass]="{ 'active' : patient.active}"   >

                <div class="imgbox">
                    <b>      {{patient.title }}    </b>
                </div>

                <aside>
                    <a   > {{patient.name}} </a>
                    <span> {{ patient.phone}} </span>
                </aside>
                <div class="clearfix"></div>
            </li>

        </ul>


    </div>

    <button class="addButton" [routerLink]="['addpatient']" routerLinkActive="router-link-active">
        
        Add a patient
    
    </button>

</div>
<div class="rightbox">
    <router-outlet></router-outlet>
</div>