* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.modal-backdrop {
    z-index: 1000!important;
}

.app-session-modal-window {
    z-index: 999 !important;
}

.app-session-modal-backdrop {
    z-index: 999 !important;
}