<div class="createBox">

    <a href="javascript:;" class="delBtn" (click)="deleteUser($ID)"><img src="/assets/delete.png"></a>


    <div class="infobox">
        <h2> {{userDetails.name}} </h2>
        <h3> {{userDetails.phone}} </h3>

        <ul>

            <li>

                Email
                <span> {{userDetails.email}} </span>

            </li>

            <li>

                Age
                <span>   {{userDetails.age}} </span>

            </li>

            <li>

                Weight
                <span>   {{userDetails.weight}} kg </span>

            </li>


            <li>

                Height
                <span>   {{userDetails.height}} cm</span>

            </li>

        </ul>


    </div>

    <div class="complaints">


        <strong> Complaints </strong> {{userDetails.complaints}}

    </div>

    <div class="adddiet" [hidden]="activePlanID">
        <span> Create New Diet Plan </span>
        <article *ngIf="!gPdf">
            <button (click)="createDietPlan()" [disabled]="!range.value.start || !range.value.end"> Create  </button>




            <div class="rangeBox">
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

            </div>


        </article>



        <div> </div>




    </div>


    <div class="mat-card" *ngFor="let item of userDetails.plandate;  let i = index " [hidden]="activePlanID && activePlanID!=item._id">


        <div class="head">
            <strong> Diet Plan </strong>


            <span>{{item.start | date   }}  - {{item.end | date   }} </span>
        </div>

        <div class="actionbox">

            <button (click)="activePlan( item._id )" *ngIf="!activePlanID && !item.public ">  Continue </button>


            <button *ngIf="(activePlanID && item.public) || ( !activePlanID &&  item.public ) ">  <a href="http://{{downloadLInk}}:8080/generatereport/{{userDetails._id}}/{{item._id}}" >   Generate PDF </a>        </button>

            <button (click)="item.public=true;changeStatus(item,true)" *ngIf="activePlanID &&  !item.public">  Public </button>
            <button (click)="item.public=false;activePlan( item._id );changeStatus(item,false)" *ngIf="(activePlanID && item.public) || ( !activePlanID &&  item.public )" [hidden]="activePlanID">  Edit </button>

            <button (click)="activePlanID=null" *ngIf="activePlanID">  Back </button>


            <a href="javascript:;" (click)="deleteDitePlan(item._id)" *ngIf="!activePlanID"><img src="/assets/delete.png"></a>

        </div>
        <div class="clearfix"></div>

    </div>


    <div class="adddietbox" [hidden]="!activePlanID">
        <ul class="tabPanel">
            <li>
                <a href="javascript:;" [ngClass]="{ 'active': tab==0 }" (click)="tabChange(0)">    Create Meal Plan </a>
            </li>
            <li>
                <a href="javascript:;" [ngClass]="{ 'active': tab==1 }" (click)="tabChange(1)">  Guideline </a>
            </li>
        </ul>
        <div class="mealplan" [hidden]="tab==1">
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                <ngx-editor [editor]="editor" [(ngModel)]="meal.mealhtml" [disabled]="false" [placeholder]="'Typ Meal Options'"></ngx-editor>
            </div>

            <div class="formBox">
                <article>
                    <input type="text" [(ngModel)]="meal.time">
                    <select [(ngModel)]="meal.type">
                      <option> None    </option>
                           <option> Breakfast     </option>
                            <option> Lunch   </option>
                            <option> Snacks   </option>
                            <option> Dinner   </option>
                         </select>
                </article>
                <button (click)="addMeal()" *ngIf="!this.meal._id" [disabled]="!meal.mealhtml">  Add  This</button>
                <button (click)="editMeal()" *ngIf="this.meal._id">  Edit</button>

            </div>


            <ul class="mealList">
                <li *ngFor="let item of mealList;  let i = index ">
                    <span class="time">  <strong>  {{item.time}}  </strong> <br>  {{item.type}}   </span>
                    <div class="hmtlbox" [innerHTML]="item.mealhtml | SanitizeHtmlPipe "></div>
                    <div class="action">
                        <a href="javascript:;" (click)="editMealPlan(item)"> Edit </a>
                        <a href="javascript:;" (click)="deleteMplan(item)"> Delete </a>

                    </div>
                </li>
            </ul>
            <div class="clearfix"> </div>

        </div>

        <div class="guideLine" [hidden]="tab==0">
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="guideeditor"> </ngx-editor-menu>
                <ngx-editor [editor]="guideeditor" [(ngModel)]="guide.guidehtml" [disabled]="false" [placeholder]="'Typ Guideline Options'"></ngx-editor>
            </div>
            <div class="formBox">

                <button (click)="updateGuideLIne()" *ngIf="updateGuideID">Update  This</button>
                <button (click)="addGuideLIne()" [disabled]="!guide.guidehtml" *ngIf="!updateGuideID">Add  This</button>

            </div>
            <ul class="mealList">
                <li *ngFor="let item of guideList">
                    <div class="hmtlbox" [innerHTML]="item.guidehtml | SanitizeHtmlPipe "></div>
                    <div class="action">
                        <a href="javascript:;" (click)="editGuide(item)"> Edit </a>
                        <a href="javascript:;" (click)="deleteguide(item)"> Delete </a>
                    </div>
                </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>